[tool.pytest.ini_options]
testpaths = ["tests"]

[tool.ruff]
target-version = "py39"
line-length = 79
exclude = [".git", "venv"]
[tool.ruff.lint]
ignore = [
  # Lines too long, we prefer shorter lines but allow occasional longer lines.
  "E501", 
  # Missing docstring in public module, we don't require them in all methods
  "D10",
  # First line should end with a period. We ignore this because we have
  # multi-line summaries.
  "D400",
  # First line should end with a period, question mark, or exclamation point.
  # We ignore this because we have multi-line summaries.
  "D415",
  # 1 blank line required between summary line and description. We ignore
  # this because we have quite a few docstrings where the summary is
  # multi-line.
  "D205",
  # No blank lines before class, conflicts with D211, incorrect-blank-line-before-class
  "D203",
  # Multi-line docstring summary should start at the first line.
  # We ignore this because we we want to put the
  # summary line below """ for multi-line docstrings.
  "D212",
]
extend-select = [
    "B",
    "C",
    "D",
    "E",
    "F",
    "N",
    "SIM",
    "TID25",
    "TC005",
    "W",
    "UP",
    "ISC",
    "G",
    "PIE",
    "PT",
    "I",
    "INP",
]

[tool.ruff.lint.mccabe]
max-complexity = 20

[tool.mypy]
python_version = 3.9
ignore_missing_imports = true
no_implicit_optional = true
strict_equality = true
follow_imports = "skip"
warn_unreachable = true
show_error_context = true
pretty = true
files = "tztrout"