
name: CI
on:
  push:

jobs:
  lint:
    strategy:
      matrix:
        python-version: ['3.10', '3.11', '3.12', '3.13', '3.14']

      fail-fast: false

    name: Lint with Python ${{ matrix.python-version }}
    runs-on: ubuntu-24.04
    container: python:${{ matrix.python-version }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install dependencies
        run:
          pip install -r requirements_lint.txt

      - name: Check formatting
        run:
          ruff format --check .

      - name: Lint code
        run:
          ruff check --no-cache .

      - name: Type check
        run:
          mypy
      
  test:
    strategy:
      matrix:
        python-version: ['3.10', '3.11', '3.12', '3.13', '3.14']

      fail-fast: false

    name: Tests with Python ${{ matrix.python-version }}
    runs-on: ubuntu-24.04
    container: python:${{ matrix.python-version }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install dependencies
        run:
          pip install -r requirements.txt -r requirements_test.txt
        
      - name: Run tests
        run:
          pytest

  check-data:
    runs-on: ubuntu-24.04
    container: python:3.14

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Configure Git safe directory
        run: git config --global --add safe.directory "$GITHUB_WORKSPACE"

      - name: Install dependencies
        run:
          pip install -r requirements.txt -r requirements_test.txt

      - name: Verify timezone data is up to date
        run:
          python regenerate_data.py

      - name: Check for uncommitted changes
        shell: bash
        run: |
          if [[ -n $(git status --porcelain) ]]; then
            echo "Data files are out of date. Please run 'python regenerate_data.py' and commit the changes."
            git status --porcelain
            exit 1
          else
            echo "Data files are up to date."
          fi
